<div class="row section-content">
  <div class="small-12 column" id="<%= section %>" data-magellan-target="<%= section %>">
    <h3><%= t("pages.help.#{section}.title") %></h3>

    <%= content %>

  </div>
</div>
