<%= render Pages::Help::SectionComponent.new("debates") do %>
  <p>
    <%= sanitize(t("pages.help.debates.description",
                   org: setting["org_name"],
                   link: link_to(t("pages.help.debates.link"), debates_path))) %>
  </p>
<% end %>
